@using Neo_Genesis_Green_Gold.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<main aria-labelledby="title" class="container marginTop5">
    
    <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-md-6">
            <section id="imageSection" class="d-flex align-items-center justify-content-center">
                <img src="/Content/IMG/Logos/GREEN GOLD.png" alt="Descripción de la imagen" class="img-fluid" style="width: 100%;">
            </section>
        </div>
        

        <!-- Columna para el formulario de inicio de sesión -->
        <div class="col-md-6 marginTop5" >
            <section id="loginForm" class="ibox-content">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <!-- Email Field -->
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <!-- Password Field -->
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <!-- Remember Me Checkbox -->
                    <div class="mb-3 form-check">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                    </div>

                    <!-- Submit Button -->
            <div class="row">
                <center>
                    <input type="submit" value="Iniciar sesión" class="btn btn-success w-100" />
                </center>
            </div>
            <br />
            @*<div class="row">
                <center>
                    @Html.ActionLink("Registrarse", "Register")
                </center>
            </div>*@

                    
                }
            </section>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
